/* COR DE FUNDO */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: #4c4f69;
}

.light-mode {
    background: #eff1f5;
    color: #4c4f69;
}
.dark-mode {
    background: #1e1e2e;
    color: #cdd6f4;
}

.light-mode .container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #bcc0cc;
}

.dark-mode .container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #11111b;
}






.dark-mode h1 {
    text-align: center;
    color: #cdd6f4;
}
.light-mode h1 {
    text-align: center;
    color: #4c4f69;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #df8e1d;
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
}

button:hover {
    background-color: #fe640b;
}



.dark-mode button {
    background-color: #f9e2af;
    color: #1e1e2e;
    border: 0;
    cursor: pointer;
}

.dark-mode button:hover {
    background-color: #fab387;
    color: #1e1e2e;
}


input, select, buttona {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}










#resultado {
    margin-top: 25px;
    font-size: 1.2em;
    text-align: center;
}





